*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


@mixin flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin gridColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  
  $tablet: 768px;
  
  @mixin tablet {
    @media (min-width: #{$tablet}) {
      @content;
    }
  }
  
  $desktop: 1024px;
  
  @mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
  }
  
  $primaryColor: #d35649;
  $direction: column;
  $between: space-between;
  $colorWhite: #fff;
  $formColor: #c5c2c2;
  $border: 5px;
  $border-3: 3px;
  $font-weight: 900;
  $textCenter: center;
  $width-95: 95%;
  $flexstart: flex-start;
  $flex: flex;
  $colorblack: #111;
  $colorgray: #7d8486;
  $font-weight-700: 700;
  $padding: 5px;
  $colordkgray: #1f1f1f;
  $border-radius: 50%;
  $colorbrown: #e17e65;
  $alignCenter: center;
  $row: row;
  $jcenter: center;
  $alignEnd: flex-end;
  $nativeBlue: #519bd7;
  $none: none;
  $mainNav: #d2d2d2;
  $darklight: lighten(#111, 60%);
  $topnavgray: #969696;

  header {
      
      nav {
         /*border: 1px solid black;*/
         @include flexCenter();
         flex-direction: $direction;
         justify-content: space-around;
         height: 12vh;
         background-color: $primaryColor; 
         z-index: 7;     
      }

      .bottom-nav-large {
        display: $none;
     }
      
       @include tablet {
           nav {
            border: 1px solid black;
            flex-direction: $row;
           }
       }

       @include desktop {
           nav {
            
             .bottom-nav-mobile {
                display: $none;
            }

            .bottom-nav-large {
                display: $flex;
                /*border: 1px solid yellow;*/
                width: 45vw;
                justify-content: $between;
                font-size: 13px;
                font-weight: $font-weight-700;
             }

             .bottom-nav-large a {
                 color: $colorWhite;
             }
           }
       }

        

      .top-nav a {
          /*border: 1px solid white;*/
          color: $colorWhite;
          font-weight: $font-weight-700;
          font-size: 25px;
      }

      @include desktop {

        .top-nav {
            /*border: 1px solid white;*/
            width: 32vw;
        }
          
      }

      .bottom-nav-mobile {
          /*border: 1px solid purple;*/
          width: 60vw;
          @include flexCenter();
      }

      @include tablet {
        .bottom-nav-mobile {
            /*border: 1px solid purple;*/
            width: 40vw;
            @include flexCenter();
        }

        .bottom-nav-large {
            display: $none;
         }
        
        
      }

      .bottom-nav-mobile a {
          color: $colorWhite;
      }
    
  }

  main {
      margin-top: 82px;

      .img-container {
          /*border: 1px solid purple;*/
          height: 60vh;
          display: $flex;
          flex-direction: $direction;
          justify-content: $flexstart;
          align-items: $alignCenter;
      }

      .img-container h5 {
        /*font-size: 30px;*/
        text-shadow: 2px 2px $colorblack;
    }

      @include tablet {
        .img-container {
            /*border: 1px solid purple;*/
            height: 60vh;
            justify-content: $jcenter;   
        }

        .img-container h5 {
            font-size: 30px;
        }
      }

      .search-container {
          /*border: 1px solid red;*/
          height: 7vh;
          display: $flex;
          flex-direction: $direction;
          justify-content: flex-start;
          align-items: $alignCenter;
          background-color: #C1C1C8;
          width: 45vw;
          border-radius: 3px;
          margin-bottom: 1px;
      }
      
      @include tablet {
        .search-container {
            /*border: 1px solid red;*/
            height: 13vh;
            width: 45vw;
            justify-content: $jcenter;
            background-color: #C1C1C8;
            margin-bottom: 10px;
        }
      }

      .form-control,
      .form-search {
          height: 2vh;
          border-radius: 0;
          width: 40vw;
      }

      @include tablet {
        .form-control,
        .form-search {
            height: 3vh;
        }
  
      }

      .form-search {
          background-color: $primaryColor;
          border: 1px solid $primaryColor;
          margin-top: 2px;      
      }

      @include tablet {
        .form-search {
            margin-top: 7px;      
        } 
      }

      ::placeholder {
          font-size: 10px;
          color: $colorWhite;
          text-align: $textCenter;
          
      }

      .key-word {
          font-size: 8px;
          color: $colorblack;
          align-self: $flexstart;
          margin-left: 7px;
      }

      @include tablet {
        .key-word {
            font-size: 10px;
            margin-left: 17px;
            font-weight: $font-weight-700;
            /*border: 1px solid red;*/
        }
      }

      .how-it-works {
          font-size: 12px;
          background-color: #C1C1C8;
          color: $colorblack;
      }

      @include tablet {
        .how-it-works {
            font-size: 13px;
            /*border: 1px solid red;*/
            padding: $padding;
        } 
      }
  }
  