*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin gridColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  $mobile: 650px;
  
  @mixin mobile {
    @media (min-width: #{$mobile}) {
      @content;
    }
  }
  
  
  $tablet: 768px;
  
  @mixin tablet {
    @media (min-width: #{$tablet}) {
      @content;
    }
  }
  
  $desktop: 1024px;
  
  @mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
  }
  
  $primaryColor: #d35649;
  $direction: column;
  $between: space-between;
  $colorWhite: #fff;
  $formColor: #c5c2c2;
  $border: 5px;
  $border-3: 3px;
  $font-weight: 900;
  $textCenter: center;
  $width-95: 95%;
  $flexstart: flex-start;
  $flex: flex;
  $colorblack: #111;
  $colorgray: #7d8486;
  $font-weight-700: 700;
  $padding: 5px;
  $colordkgray: #1f1f1f;
  $border-radius: 50%;
  $colorbrown: #e17e65;
  $alignCenter: center;
  $row: row;
  $jcenter: center;
  $alignEnd: flex-end;
  $nativeBlue: #519bd7;
  $none: none;
  $mainNav: #d2d2d2;
  $darklight: lighten(#111, 60%);
  $topnavgray: #969696;

  header {
      
      nav {
         @include flexCenter();
         flex-direction: $direction;
         justify-content: space-around;
         height: 12vh;
         background-color: $primaryColor; 
         z-index: 7;     
      }

      .bottom-nav-large {
        display: $none;
     }
      
       @include tablet {
           nav {
            border: 1px solid black;
            flex-direction: $row;
           }
       }

       @include desktop {
           nav {
            
             .bottom-nav-mobile {
                display: $none;
            }

            .bottom-nav-large {
                display: $flex;
                width: 45vw;
                justify-content: $between;
                font-size: 13px;
                font-weight: $font-weight-700;
             }

             .bottom-nav-large a {
                 color: $colorWhite;
             }
           }
       }

        

      .top-nav a {
          color: $colorWhite;
          font-weight: $font-weight-700;
          font-size: 25px;
      }

      @include desktop {

        .top-nav {
            width: 32vw;
        }
          
      }

      .bottom-nav-mobile {
          width: 60vw;
          @include flexCenter();
      }

      @include tablet {
        .bottom-nav-mobile {
            width: 40vw;
            @include flexCenter();
        }

        .bottom-nav-large {
            display: $none;
         }
        
        
      }

      .bottom-nav-mobile a {
          color: $colorWhite;
      }
    
  }

  main {
    margin-top: 90px;

    /*.scala-wrapper {
      border: 1px solid purple;
      width: 100vw;
    }*/
    
    h1 {
      /*font-size: 35px;*/
      color: $primaryColor;   
    }

    .scala-title {
        /*border: 1px solid red;*/
        width: 300px;
    }
    
    @include tablet {
      .scala-title {
        /*border: 1px solid red;*/
        width: 550px;
    }
    }

    .scala-table-large {
      display: $none;
    }

    @include tablet {
      .scala-table-large {
        display: $flex;
      }

      .scala-table-small {
        display: $none;
      }
    }

    .scala-apply {
      /*border: 1px solid red;*/
      width: 310px;
    }

    @include tablet {
      .scala-apply {
        /*border: 1px solid purple;*/
        width: 530px;
      }
    }
    .scala-apply .fas,
    .scala-apply button {
      /*border: 1px solid red;*/
      width: 25px;
      height: 30px;
      background-color: #509AD7;
      color: $colorWhite;
    }

    .scala-apply button {
      width: 50px;
      border: 1px solid #509AD7;
    }

    @include tablet {
      .feedback-icon-wrapper {
        /*border: 1px solid purple;*/
        width: 550px;
        
      }
    }

    .feedback-icons,
    .students-wrapper {
      font-size: 12px;
      
    }

    .feedback-icons {
      /*border: 1px solid hotpink;*/
      width: 70%;
    }

    @include tablet {
      .feedback-icons {
        /*border: 1px solid hotpink;*/
        width: 50%;
      }
    }

    .students-wrapper {
      /*border: 1px solid red;*/
      width: 100%;
    }

    @include tablet {
      .students-wrapper {
        /*border: 1px solid red;*/
        width: 70%;
      }
    }

    .students {
      font-size: 9px;
    }

    .enrolled {
      font-size: 9px;
    }

    .students-wrapper .fas {
      font-size: 10px;
    }

    .map-direction-wrapper {
      /*border: 1px solid black;*/
      width: 100vw;
    }

    .scala-text {
      /*border: 1px solid hotpink;*/
      width: 100%;
      
    }

   /* @include mobile {
      .scala-text {
        border: 1px solid hotpink;
        width: 95%;
        
      }
    }*/

    .google-img {
      width: 100%;
      height: 200px;
    }

    .click-details {
      /*border: 1px solid purple;*/
      height: 8vh;
      min-width: 40%;
      background-color: #F5F5F5;
    }

    .map-directons {
      color: $primaryColor;
    }

    .map-directions-container {
     /* border: 1px solid black;*/
      height: 350px;
      min-width: 80%;

    }
  }