*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header nav {
  /*border: 1px solid black;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 12vh;
  background-color: #d35649;
  z-index: 7;
}

header .bottom-nav-large {
  display: none;
}

@media (min-width: 768px) {
  header nav {
    border: 1px solid black;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1024px) {
  header nav .bottom-nav-mobile {
    display: none;
  }
  header nav .bottom-nav-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*border: 1px solid yellow;*/
    width: 45vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 13px;
    font-weight: 700;
  }
  header nav .bottom-nav-large a {
    color: #fff;
  }
}

header .top-nav a {
  /*border: 1px solid white;*/
  color: #fff;
  font-weight: 700;
  font-size: 25px;
}

@media (min-width: 1024px) {
  header .top-nav {
    /*border: 1px solid white;*/
    width: 32vw;
  }
}

header .bottom-nav-mobile {
  /*border: 1px solid purple;*/
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  header .bottom-nav-mobile {
    /*border: 1px solid purple;*/
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .bottom-nav-large {
    display: none;
  }
}

header .bottom-nav-mobile a {
  color: #fff;
}

main {
  margin-top: 82px;
}

main .img-container {
  /*border: 1px solid purple;*/
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .img-container h5 {
  /*font-size: 30px;*/
  text-shadow: 2px 2px #111;
}

@media (min-width: 768px) {
  main .img-container {
    /*border: 1px solid purple;*/
    height: 60vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .img-container h5 {
    font-size: 30px;
  }
}

main .search-container {
  /*border: 1px solid red;*/
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C1C1C8;
  width: 45vw;
  border-radius: 3px;
  margin-bottom: 1px;
  opacity: 0.8;
}

@media (min-width: 768px) {
  main .search-container {
    /*border: 1px solid red;*/
    height: 13vh;
    width: 55vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #C1C1C8;
    margin-bottom: 10px;
  }
  main .form-search-container {
    /*border: 1px solid red;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .form-control,
main .form-search {
  height: 2vh;
  border-radius: 0;
  width: 40vw;
}

@media (min-width: 768px) {
  main .form-control,
  main .form-search {
    height: 4vh;
  }
}

main .form-search {
  background-color: #d35649;
  border: 1px solid #d35649;
  margin-top: 2px;
}

@media (min-width: 768px) {
  main .form-search {
    width: 10vw;
    padding: 2px;
    background-color: #519bd7;
    border: 1px solid #519bd7;
  }
}

@media (min-width: 1024px) {
  main .form-search {
    background-color: #d35649;
    border: 1px solid #d35649;
  }
}

main ::-webkit-input-placeholder {
  font-size: 10px;
  color: #fff;
  text-align: center;
}

main :-ms-input-placeholder {
  font-size: 10px;
  color: #fff;
  text-align: center;
}

main ::-ms-input-placeholder {
  font-size: 10px;
  color: #fff;
  text-align: center;
}

main ::placeholder {
  font-size: 10px;
  color: #fff;
  text-align: center;
}

main .key-word {
  font-size: 8px;
  color: #111;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 42vw;
  font-weight: 700;
  /*border: 1px solid red;*/
}

@media (min-width: 768px) {
  main .key-word {
    font-size: 12px;
    font-weight: 700;
    width: 52.5vw;
    /*border: 1px solid red;*/
  }
}

main .how-it-works {
  font-size: 12px;
  background-color: #C1C1C8;
  color: #111;
}

@media (min-width: 768px) {
  main .how-it-works {
    font-size: 13px;
    /*border: 1px solid red;*/
    padding: 5px;
  }
}

main h1 {
  font-size: 18px;
  color: #d35649;
  font-weight: 900;
  margin-top: 40px;
}

@media (min-width: 768px) {
  main h1 {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  main h1 {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

main .take-course-container,
main .take-course-container-2 {
  background-color: #E27F65;
  color: #fff;
}

@media (min-width: 1024px) {
  main .take-course-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 4px solid white;
  }
  main .course {
    width: 50vw;
  }
}

main .students-img img {
  width: 40vw;
  /*border: 1px solid red;*/
  border-radius: 50%;
}

main .search-engine,
main .team-research,
main .laptop {
  font-size: 13px;
}

main .find-a-course,
main .free-sign-up {
  background-color: #FAFDFF;
  color: #d35649;
  width: 100px;
  height: 3vh;
  text-align: center;
  font-size: 14px;
  padding: 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .take-course-container-2 {
  background-color: #98A4A5;
}

main .free-sign-up {
  color: #c5c2c2;
  font-weight: 700;
}

main .take-course-container-3 {
  background-color: #509BD7;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */