*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 12vh;
  background-color: #d35649;
  z-index: 7;
}

header .bottom-nav-large {
  display: none;
}

@media (min-width: 768px) {
  header nav {
    border: 1px solid black;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1024px) {
  header nav .bottom-nav-mobile {
    display: none;
  }
  header nav .bottom-nav-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 13px;
    font-weight: 700;
  }
  header nav .bottom-nav-large a {
    color: #fff;
  }
}

header .top-nav a {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
}

@media (min-width: 1024px) {
  header .top-nav {
    width: 32vw;
  }
}

header .bottom-nav-mobile {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  header .bottom-nav-mobile {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .bottom-nav-large {
    display: none;
  }
}

header .bottom-nav-mobile a {
  color: #fff;
}

main {
  margin-top: 80px;
}

main .filter-container {
  display: none;
}

main .result-search {
  font-weight: 700;
  width: 95%;
  /*border: 1px solid red;*/
}

@media (min-width: 768px) {
  main .filter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 20vh;
    background-color: #EEEEEE;
    border: 1px solid red;
  }
  main .filter-container .search-course {
    background-color: #457EB4;
    color: #fff;
    border: 1px solid #457EB4;
  }
  main .filter-container .clear-filter .far {
    width: 30px;
    height: 28px;
    padding: 4px 0 5px 0;
    /*border: 1px solid hotpink;*/
    text-align: center;
    margin-right: -5px;
    color: #fff;
    background-color: #E5AB5B;
  }
  main .filter-container .clear-filter button {
    background-color: #E5AB5B;
    border: 1px solid #E5AB5B;
    padding: 1px 0;
  }
  main h1 {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style2.css.map */